.header {
    background-color: green;
    padding: 20px;
    overflow: hidden;
    border-bottom: 2px solid black;
}

.search {
    background-color: white;
        width: 30%;
        float: center;
}

.nav {
    background-color: darkturquoise;
    padding: 50px;
    text-align: center;
    border-bottom: 2px solid black;

}

.nav-link {
    border: 1px solid black;
    padding: 10px 30px ;
    display: inline-block;
    margin: 0 10px;
    float: right;

}

.image-1 {
    width: 100%;
    height: 300px;
}
.img {
    
    height: 100px;
    width: 150px;
    margin-bottom: 10px;
    border: 2px solid black;

}
.main {
    padding: 20px 0;
    overflow: hidden;
}
.left-content {
    float: left;
    width: 20%;

}
.left-nav-link {
    border-bottom: 2px solid black;
    padding: 5px 10px;
}
.footer {
    background-color: coral;
    padding: 10px;
    text-align: center;
}