.done{
    background-color:darkblue;
}
.css{
    background-color: darkmagenta;
}
.html{
    background-color: aqua;
}
.english{
    background-color: crimson;
}
.javascript {
     background-color: gold;
}
.table-heading {
    background-color: chartreuse;
     width: 100px;
}

