.body {
    margin: 0;
}

.header {
    background-color: black;
    padding: 15px;
    color: white;
    overflow: hidden;
}

.logo {
    float: left;
    width: 20%;
}

.text-link {
    display: inline-block;
    padding: 10px;
    background-color: black;

}
.link {
    float: right;
    width: 70%;
    margin: 0px;
    padding: 0px;
    background-color: black;
}
main {
    overflow: hidden;
}
.column {
    text-align: center;
    width: 60%;
    box-sizing: border-box;
    margin: 0 auto;
    border: 2px solid black;
    margin-top: 20px;
    color: white;
    background-color: black;
    overflow: hidden;
    max-width: 1000%;
    padding: 100px;
    
}
.banner {
    background-color: black;
    overflow: hidden;
}
.row-left {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    margin: -72px;
    width: 100%;
    height: 20px;
    margin-left: 59px;
}
.row-left>div {
    background-color:black;
    width: 100%;
    height: 144px;
    padding: 20px 0;
    color: white;
    text-align: center;
    font-size: 10px;
    
}
.column1 {
    grid-row: 1 /span 2;
}
.column2 {
    grid-row: 1 /span 2;
}
.column3 {
    grid-row: 1 /span 2;
}
.newpaper {
    column-count: 3;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: blue;
}
.newpaper, .newspaper-text {
    column-count: 3;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: blue;
}
.footer {
    background-color: black;
    text-align: center;
    padding: 20px;
    color: white;
}

