.body {
    margin: 0%;
}

.header {
    background-color: aqua;
    padding: 20px;
    overflow: hidden;
    border-bottom: 2px solid darkmagenta;
}

.logo {
    float: left;
}

.search {
    float: right;
}

.nav {
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid darkorchid;
     
   }

.nav-link {
    border: 2px solid darkred;
    padding: 10px 30px;
    display: inline-block;
    margin: 0 10px;
    box-sizing: border-box;
    border-radius: 100%;
    font-style: italic;
    font-weight: bold;
    order: background-color  red;


}

.main {
    padding: 20px 0;
    overflow: hidden;

}

.left-content {
    float: left;
    width: 20%;

}

.left-nav-link {
    border-bottom: 2px solid darkblue;
    padding: 5px 10px;
}

.middle-content {
    float: left;
    width: 60%;
    text-align: center;
}

.banner {

    padding: 0 20px;
    border-radius: 100%;
}

.banner-image {
    width: 100%;

}

.middle-content .product {
    display: inline-block;

}

.right-content {
    float: left;
    width: 20%;
    text-align: center;
}

.product {
    width: 150px;
    margin-bottom: 10px;
    border: 2px solid darkgreen;
}

.product-image {
    width: 100px;
    height: 100px;
    display: inline-block;
}

.footer {
    background-color: chartreuse;
    text-align: center;
    padding: 20px;
}