.body {
    margin: 0%;
}

.header {
    background-color: aqua;
    padding: 20px;
    overflow: hidden;
    border-bottom: 2px solid black;
    
}

.logo {
    float: left;
}

.search {
    float: right;
}

.nav {
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid black;
}

.nav-link {
    border: 2px solid black;
    padding: 10px 30px;
    display: inline-block;
    margin: 0 10px;

}

.main {
    padding: 20px 0;
    overflow: hidden;

}

.left-content {
    float: left;
    width: 20%;

}

.left-nav-link {
    border-bottom: 2px solid black;
    padding: 5px 10px;
}

.middle-content {
    float: left;
    width: 60%;
    text-align: center;
}

.banner {

    padding: 0 20px;

}

.banner-image {
    width: 100%;

}

.middle-content .product {
    display: inline-block;

}

.right-content {
    float: left;
    width: 20%;
    text-align: center;
}

.product {
    width: 100%;
    margin-bottom: 10px;
    border: 2px solid black;
}

.product-image {
    width: 100%;
    display: inline-block;
}

.footer {
    background-color: chartreuse;
    text-align: center;
    padding: 20px;
}
.product-image {
    width: 100%;
}
@media screen and (max-width: 1024px) {
    .product {
        background-color: darkturquoise;
        width: calc(50%-40px);
               
    }
}
@media screen and (max-width: 768px) {
    .product {
        background-color: yellowgreen;
         width: calc(50%-40px);
        
    }
}
.product-image {
    width: calc(50%-40px);
    float: left;
}
.left-content, .middle-content,.right-content {
    width: 100%;
}
.nav-link {
    font-size: 20px;
    padding: 1px 0px;
    border: 2px solid black;


}
.nav {
    padding: 0px;
}
.right-content {
    float: left;
}
.search {
    width: 100%;
}
.search input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box;
}